.nav-item a {
    font-size: 1.1rem;
    color: #06397b;

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-item a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: black;
}

.header-container {
    position: relative;

    background: linear-gradient(to top, #E0E0E0, #F1F1F1, #FFFFFF);


}

.header-ancora-corpo {
    color: #FFFFFF;
    text-decoration: none;
}

.body-zone {
    position: absolute;
    background-color: rgba(0, 87, 183, 0.8);
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.body-zone:hover {
    background-color: rgba(0, 87, 183, 1);
    transform: scale(1.1);
}

.body-zone::after {
    content: attr(data-description);
    position: absolute;
    white-space: nowrap;
    background-color: #88D8B0;
    color: #333333;
    padding: 5px 10px;
    border-radius: 5px;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.body-zone:hover::after {
    opacity: 1;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.header-words h1 {
    position: relative;
    font-size: 12vh;
    color: #06397b;
}

.button-79 {
    backface-visibility: hidden;
    background: #88D8B0;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #06397b;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-79:disabled {
    color: #787878;
    cursor: auto;
}

.button-79:not(:disabled):hover {
    transform: scale(1.05) translateZ(0);
    font-weight: 700;
    /* Mantieni costante il peso del font */
}

.button-79:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem) translateZ(0);
}

.button-79:focus {
    outline: 0 solid transparent;
}

.button-79:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button-79:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
    transform: translateY(.125rem) translateZ(0);
    font-weight: 700;
    /* Mantieni costante il peso del font */
}


@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 20px;
    }

    .header-words h1 {
        font-size: 8vh;
        /* Riduci la dimensione del font per schermi più piccoli */
    }

    .services .col-md-4,
    .services .col-lg-4,
    .services .col-xl-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    flex: 1;
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-img-top-patologie {
    height: 200px;
    object-fit: cover;
}


.feature-img {
    height: 300px;
    object-fit: cover;
}