nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: darkblue;
}







.footer {
    position: fixed;
    left: 0;
    bottom: 10;
    width: 100%;
    background-color: rgba(58, 100, 183, 0.863);
    color: white;
    text-align: center;
}